html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */

@media only screen and (max-width: 1080px) {
  #monkey{
    top: 2px;
  }
}

@media only screen and (max-width: 381px) {
  #monkey{
    top: 550px;
  }
}
